* {
  position: relative;
  box-sizing: border-box;
}

body {
  --fontPassion: "Passion One", sans-serif;
  --fontSecondary: "Arial MT", sans-serif;
  --greenDark: #113632;
  --greenMedium: #319c90;
  --orangeLight: #dc5c00;
  --whatsAppColor: #25d366;
  --caquiMedium: #b49e8e;
  --caquiLight: #f4ebe3;
}

body {
  font-family: var(--fontPassion);
}

h1 {
  font-size: 300%;
  line-height: 100%;
  font-weight: 400;
}

.root-app {
  position: relative;
}

.centralize {
  max-width: 1240px;
  margin: 0 auto;
}

/* button: start */

.btn {
  font-family: var(--fontSecondary);
  font-size: 1em;
  line-height: 3em;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  background-color: var(--greenMedium);
  padding: 0.25em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 8px 20px -10px var(--greenDark);
  white-space: nowrap;
}

.btn:hover {
  background-color: hsl(170, 100%, 25%);
}

.btn-orange {
  color: #000;
  background-color: hsl(28, 100%, 60%);
  box-shadow: 0 8px 20px -10px var(--orangeLight);
}

.btn.btn-orange:hover {
  background-color: hsl(28, 50%, 50%);
}

.btn-small {
  font-size: 70%;
}

.btn-large {
  font-size: 100% !important;
  padding: 1em 1.5em;
}

.btn-small {
  font-size: 70%;
}

.btn.btn-green-shadow {
  box-shadow: 0px 5px 20px 0px #128c7e;
}

/* button: end */

/* main banner: start */

.main-banner {
  position: relative;
  padding: 9em 6em;
  background: linear-gradient(0.25turn, var(--greenDark), var(--greenMedium));
}

.main-banner .main-title {
  font-size: 7em;
  line-height: 0.8em;
  letter-spacing: 5px;
  font-family: var(--fontPassion);
  color: white;
  width: 55%;
  transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0em 0.1em;
}

.main-banner .banner-desc {
  font-size: 1.35em;
  line-height: 1.25em;
  letter-spacing: 2px;
  font-family: var(--fontSecondary);
  color: white;
  width: 50%;
  padding: 1.25em 0;
  transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-banner .actions-area {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.main-banner .bg-image {
  position: absolute;
  height: 100%;
  right: 15%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.main-banner .bg-image img {
  position: relative;
  display: block;
  height: 100%;
}

.main-banner .gradient-bg {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  top: auto;
  background: url(./images/gradient.png);
  background-position: 0 0;
  left: 0;
  background-repeat: repeat-x;
  display: none;
  background-size: auto 140%;
}

@media screen and (max-width: 1440px) {
  .main-banner {
    font-size: 110%;
  }

  .main-banner .bg-image {
    right: 0;
  }
}

@media screen and (max-width: 1280px) {
  .main-banner {
    font-size: 90%;
  }
}

@media screen and (max-width: 980px) {
  .btn {
    font-size: 110%;
  }

  .main-banner {
    font-size: 100%;
    padding: 9em 4em;
    padding-top: 50%;
  }

  .main-banner .gradient-bg {
    display: block;
  }

  .main-banner .main-title {
    font-size: 500%;
  }

  .main-banner .banner-desc {
    font-size: 120%;
  }

  .main-banner .main-title,
  .main-banner .banner-desc,
  .main-banner .actions-area {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .main-banner .actions-area .btn-whats {
    display: none;
  }

  .main-banner .bg-image {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    bottom: auto;
  }
}

@media screen and (max-width: 640px) {
  .btn {
    font-size: 80%;
  }

  .main-banner {
    padding: 25em 1em 3em 1em;
  }

  .main-banner .bg-image {
    height: 80%;
  }

  .main-banner .bg-image img {
    width: 100%;
    height: auto;
  }

  .main-banner .main-title {
    font-size: 320%;
  }

  .main-banner .banner-desc {
    font-size: 85%;
    width: 80%;
    margin: 0 auto;
  }
}

/* main banner: end */

/* video banner: start */

.video-banner {
  background-color: var(--caquiMedium);
  padding: 4em 1em;
}

.video-banner h1 {
  color: white;
}

.video-banner .btn {
  width: 100%;
}

.video-banner .video-container {
  padding: 16pt 0;
  width: 100%;
}

.video-banner .video-container iframe {
  width: 100%;
  height: 80%;
}

.video-banner .video-container {
  padding: 32pt 0;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .video-banner .video-container iframe {
    width: 100%;
    height: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .video-banner .video-container iframe {
    width: 100%;
    height: 65%;
  }
}

@media screen and (max-width: 980px) {
  .video-banner .video-container iframe {
    width: 100%;
    height: 50%;
  }
}

/* video banner: end */

/* who banner: start */

.who-banner {
  /* background-image: url(./images/maju_3.jpg); */
  background-color: var(--caquiLight);
  padding: 2em 1em;
}

.who-banner h1 {
  color: black;
}

.who-banner .btn {
  width: 100%;
}

.who-banner .grid-items-who {
  padding: 3em 0;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.who-banner .grid-items-who .who-item {
  border-radius: 8px;
  border: 1px solid #bb783d;
  background: linear-gradient(#f8c9a7, #cd9973);
  box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 1em;
  gap: 0.25em;
}

.who-banner .who-item .text-line {
  flex: 1;
  font-size: 150%;
  font-weight: 400;
}

.who-banner .who-item img {
  flex: 0;
}

@media screen and (max-width: 980px) {
  .who-banner .grid-items-who {
    grid-template-columns: 1fr;
  }
}

/* who banner: end */

/* access banner: start */

.access-banner {
  background-color: #8aaaa6;
  padding: 2em 1em;
}

.access-banner .bg-image {
  background-image: url(./images/maju_3.webp);
  background-size: 100% auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

@media screen and (max-width: 1024px) {
  .access-banner .bg-image {
    background-size: auto 100%;
    background-position: 50% 0;
  }
}

.access-banner .btn {
  width: 100%;
}

.access-banner .access-grid-items {
  padding: 5em 0;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

.access-banner .access-grid-items .access-grid-item {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.access-banner .access-grid-items .access-grid-item-centralizer {
  position: relative;
  border-radius: 8px;
  border: 1px solid #bb783d;
  /* background: linear-gradient(#f8c9a7, #cd9973); */
  background: var(--caquiLight);
  box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 79px 30px 57px 30px;
  gap: 0.25em;
  font-family: var(--fontSecondary);
  line-height: 150%;
  text-align: center;
  font-size: 100%;
  max-width: 260px;
}

.access-banner .access-grid-items .access-grid-item-centralizer .circle-icon {
  background-color: var(--greenMedium);
  color: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .access-banner .access-grid-items {
    grid-template-columns: 1fr;
  }
}

/* access banner: end */

/* whatsapp floating icon: start */

.whatsapp-floating-icon {
  position: fixed;
  z-index: 1;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: var(--whatsAppColor);
}

/* whatsapp floating icon: end */

/* why-i-can-help: start */
.why-i-can-help {
  padding: 2em 1em;
}

.why-i-can-help .profile-pic {
  display: block;
  border: 0px solid #333;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin: 1em 0 2em 0;
}

.why-i-can-help .profile-pic img {
  display: block;
  width: 100%;
  position: relative;
  top: -100%;
}

.why-i-can-help .text-font {
  font-family: var(--fontSecondary);
  font-size: 130%;
  font-weight: 100;
}

.why-i-can-help .maju-name {
  font-family: var(--fontSecondary);
  font-size: 200%;
  font-weight: 800;
}

.why-i-can-help .text-font p {
  width: 70%;
  line-height: 200%;
}

.why-i-can-help .text-font ul {
  padding-left: 2em;
}

.why-i-can-help .text-font ul li {
  line-height: 200%;
}

.why-i-can-help .text-font .btn {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .why-i-can-help .profile-pic img {
    display: block;
    width: 100%;
    position: relative;
    top: -70%;
  }

  .why-i-can-help .text-font p {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .why-i-can-help .profile-pic img {
    display: block;
    width: 100%;
    position: relative;
    top: -50%;
  }
}

@media screen and (max-width: 480px) {
  .why-i-can-help .profile-pic img {
    display: block;
    width: 100%;
    position: relative;
    top: -0%;
  }
}

/* why-i-can-help: end */
